body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #6161bb;
  /font-family: Arial, sans-serif;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(127, 172, 179);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 5);
  width: 300px;
  text-align: center;
}

.counter-container h1 {
  font-size: 3rem;
  margin: 0 0 1rem;
  color: black;
}

.counter-container button {
  width: 80px;
  padding: 10px;
  margin: 0.5rem;
  font-size: 1.8rem;
  color: #fff;
  background-color: #3f5c7b;
  border: none;
  border-radius: 8px;

  cursor: pointer;
  transition: background-color 0.3s ease;
}

.counter-container button:hover {
  background-color: #0056b3;
}
